.app__book {
  position: absolute;
  left: 1rem;
  top: 1rem;

  img {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    left: 2rem;

    img {
      width: 440px;
    }
  }

  @media screen and (min-width: 990px) {
    left: 3rem;

    img {
      width: 561px;
    }
  }
}
