.app__book {
  position: absolute;
  top: 2rem;
  left: 2rem;

  img {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    img {
      width: 360px;
    }
  }

  @media screen and (min-width: 1296px) {
    img {
      width: 400px;
    }
  }
}
