.app__book {
  position: absolute;
  top: 2rem;
  left: 2rem;

  img {
    width: 250px;
  }

  @media screen and (min-width: 768px) {
    top: 6rem;

    img {
      width: 280px;
    }
  }

  @media screen and (min-width: 990px) {
    top: 8rem;

    img {
      width: 320px;
    }
  }

  @media screen and (min-width: 1200px) {
    top: 10rem;

    img {
      width: 360px;
    }
  }
}
