.app__experience {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: fit-content;
  gap: 1rem;
  margin-top: 2rem;

  &__item {
    h3 {
      font-size: 30px;
      margin: 0;
    }

    p {
      margin: 0;
      font-size: 10px;
      max-width: 15ch;
    }
  }

  &__item--blue {
    color: var(--basic-blue-color);
  }

  &__item--yellow {
    color: var(--basic-yellow-color);
  }

  &__item--red {
    color: var(--basic-red-color);
  }

  @media screen and (min-width: 540px) {
    &__item {
      h3 {
        font-size: 35px;
      }

      p {
        font-size: 12px;
      }
    }
  }

  @media screen and (min-width: 990px) {
    &__item {
      h3 {
        font-size: 40px;
      }

      p {
        font-size: 14px;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    &__item {
      h3 {
        font-size: 45px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}
