.app__graphic {
  display: flex;
  justify-content: left;
  width: fit-content;

  img {
    width: 312px;
  }

  @media screen and (min-width: 672px) {
    img {
      width: 496px;
    }
  }

  @media screen and (min-width: 768px) {
    padding-left: 4rem;
  }

  @media screen and (min-width: 990px) {
    padding-left: 0;
    padding-right: 4rem;

    img {
      width: 512px;
    }
  }

  @media screen and (min-width: 1296px) {
    img {
      width: 820px;
    }
  }
}
