.app__graphic {
  display: flex;
  justify-content: left;
  width: fit-content;

  img {
    width: 250px;
  }

  @media screen and (min-width: 768px) {
    padding-left: 4rem;

    img {
      width: 350px;
    }
  }

  @media screen and (min-width: 990px) {
    padding-left: 0;
    padding-right: 4rem;

    img {
      width: 450px;
    }
  }

  @media screen and (min-width: 1200px) {
    img {
      width: 750px;
    }
  }
}
